In [7]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [37]:
df_rawdata = pd.read_csv("../Data/raw_data_final_20231212.csv", index_col=0) 
df_rawdata.head(2)

,Age,Attrition,Businesstravel,Department,Education,Educationfield,Employeenumber,Environmentsatisfaction,Gender,Jobinvolvement,...,Yearswithcurrmanager,Datebirth,Remotework,Dailyrate,Distancefromhome,Monthlyincome,Performancerating,Totalworkingyears,Worklifebalance,Hourlyrate
0,51,No,Unknown,Research & Development,3,Unknown,162,Not Satisfied,Male,High,...,15,1972,Yes,684.0,6.0,19537.0,3.0,13.6,3.0,51.0
1,52,No,Unknown,Unknown,4,Life Sciences,259,Satisfied,Male,Moderate,...,9,1971,Yes,699.0,1.0,19999.0,3.0,34.0,3.0,65.0

# TABLA 1 Ficha personal

In [9]:
#DATA FRAME DE LA TABLA 1 - FICHA PERSONAL 
df_tabla1 = df_rawdata[["Employeenumber","Age", "Gender", "Maritalstatus", "Datebirth"]]
df_tabla1.head(3)

   Employeenumber  Age Gender Maritalstatus  Datebirth
0             162   51   Male       Unknown       1972
1             259   52   Male       Unknown       1971
2             319   42   Male       Married       1981

In [10]:
lista_tuplas_tabla = []
for x in df_tabla1.values:

    lista_tuplas_tabla.append(tuple(x))
    lista_tuplas_tabla

In [11]:
cnx = mysql.connector.connect (user = "root", 
                               password = "AlumnaAdalab", 
                               host='127.0.0.1',
                               database="talent_transformation")

mycursor = cnx.cursor()

query_insert = "INSERT INTO 1_personal_data (Employeenumber, Age, Gender, Maritalstatus, Datebirth) VALUES (%s, %s, %s, %s, %s)"
#variables en el mismo orden que scsv, tantas %s como variables tiene mi csv. 


try: 
    mycursor.executemany(query_insert, lista_tuplas_tabla)
    #ejecuta my query, de que datos? del fichero q estan en mi lista de tuplas q he converido ariba leyendo el csv.) 
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")

except mysql.connector.Error as error:
    print("Error al insertar datos en MySQL:", error)

Error al insertar datos en MySQL: 1062 (23000): Duplicate entry '162' for key '1_personal_data.PRIMARY'

# TABLA 2 Ficha laboral

In [12]:
# Cambiar el nombre de la columna "Yearswithcurrentmanager" a "Yearswithcurrmanager"
df_rawdata.rename(columns={"Yearswithcurrmanager": "Yearswithcurrentmanager"}, inplace=True)

In [13]:
df_rawdata

,Age,Attrition,Businesstravel,Department,Education,Educationfield,Employeenumber,Environmentsatisfaction,Gender,Jobinvolvement,...,Yearswithcurrentmanager,Datebirth,Remotework,Dailyrate,Distancefromhome,Monthlyincome,Performancerating,Totalworkingyears,Worklifebalance,Hourlyrate
0,51,No,Unknown,Research & Development,3,Unknown,162,Not Satisfied,Male,High,...,15,1972,Yes,684.0,6.0,19537.0,3.0,13.6,3.0,51.0
1,52,No,Unknown,Unknown,4,Life Sciences,259,Satisfied,Male,Moderate,...,9,1971,Yes,699.0,1.0,19999.0,3.0,34.0,3.0,65.0
2,42,No,travel_rarely,Research & Development,2,Technical Degree,319,Satisfied,Male,High,...,15,1981,Yes,532.0,4.0,19232.0,3.0,22.0,3.0,58.0
3,47,No,travel_rarely,Research & Development,4,Medical,2069,Not Satisfied,Female,High,...,6,1976,No,359.0,2.0,17169.0,3.0,11.2,1.8,82.0
4,46,No,Unknown,Sales,3,Technical Degree,2070,Not Satisfied,Female,Very High,...,8,1977,No,1319.0,3.0,4884.6,3.0,13.4,3.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Yes,travel_rarely,Sales,1,Life Sciences,967,Satisfied,Male,Moderate,...,7,1987,No,530.0,3.0,10325.0,3.4,16.8,3.0,51.0
1610,45,No,non-travel,Research & Development,2,Unknown,972,Satisfied,Male,High,...,8,1978,Yes,805.0,4.0,4447.0,3.0,14.6,2.0,57.0
1611,39,No,travel_rarely,Sales,5,Unknown,2498,Not Satisfied,Male,Very High,...,7,1984,Yes,903.0,10.6,7144.8,3.0,9.0,3.0,41.0
1612,36,No,non-travel,Sales,4,Technical Degree,990,Not Satisfied,Male,High,...,7,1987,Yes,1229.0,8.0,5839.8,3.0,12.0,3.0,84.0
1613,46,No,Unknown,Research & Development,2,Medical,2499,Very Satisfied,Male,High,...,7,1977,No,566.0,7.0,10845.0,3.0,15.0,3.0,75.0

In [14]:
df_tabla2 = df_rawdata[[
    'Joblevel',
    'Jobrole',
    'Businesstravel',
    'Department',
    'Overtime',
    'Distancefromhome',
    'Yearssincelastpromotion',
    'Yearsatcompany',
    'Yearswithcurrentmanager',
    'Remotework',
    'Trainingtimeslastyear',
    'Attrition',
    'Employeenumber'
]]
df_tabla2.head(3)

,Joblevel,Jobrole,Businesstravel,Department,Overtime,Distancefromhome,Yearssincelastpromotion,Yearsatcompany,Yearswithcurrentmanager,Remotework,Trainingtimeslastyear,Attrition,Employeenumber
0,Executive,Research Director,Unknown,Research & Development,No,6.0,15,20,15,Yes,5,No,162
1,Executive,Manager,Unknown,Unknown,Unknown,1.0,11,33,9,Yes,5,No,259
2,Executive,Manager,travel_rarely,Research & Development,No,4.0,11,22,15,Yes,3,No,319

In [15]:
df_tabla_limpio = df_tabla2.fillna(0)

In [16]:
df_tabla_limpio

,Joblevel,Jobrole,Businesstravel,Department,Overtime,Distancefromhome,Yearssincelastpromotion,Yearsatcompany,Yearswithcurrentmanager,Remotework,Trainingtimeslastyear,Attrition,Employeenumber
0,Executive,Research Director,Unknown,Research & Development,No,6.0,15,20,15,Yes,5,No,162
1,Executive,Manager,Unknown,Unknown,Unknown,1.0,11,33,9,Yes,5,No,259
2,Executive,Manager,travel_rarely,Research & Development,No,4.0,11,22,15,Yes,3,No,319
3,Senior,Research Director,travel_rarely,Research & Development,Unknown,2.0,5,20,6,No,2,No,2069
4,Senior,Sales Executive,Unknown,Sales,No,3.0,2,19,8,No,5,No,2070
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,Mid-level,Sales Executive,travel_rarely,Sales,Unknown,3.0,3,16,7,No,6,Yes,967
1610,Junior,Laboratory Technician,non-travel,Research & Development,Unknown,4.0,0,9,8,Yes,5,No,972
1611,Mid-level,Sales Executive,travel_rarely,Sales,No,10.6,0,8,7,Yes,3,No,2498
1612,Junior,Sales Executive,non-travel,Sales,No,8.0,0,7,7,Yes,3,No,990
1613,Mid-level,Manufacturing Director,Unknown,Research & Development,Unknown,7.0,0,8,7,No,3,No,2499

In [17]:
lista_tuplas_tabla = []
for x in df_tabla_limpio.values:

    lista_tuplas_tabla.append(tuple(x))
    lista_tuplas_tabla

In [18]:
cnx = mysql.connector.connect (user = "root", 
                               password = "AlumnaAdalab", 
                               host='127.0.0.1',
                               database="talent_transformation")

mycursor = cnx.cursor()

query_insert = "INSERT INTO 2_laboral_data (Joblevel,Jobrole,Businesstravel,Department,Overtime,Distancefromhome,Yearssincelastpromotion,Yearsatcompany,Yearswithcurrentmanager,Remotework,Trainingtimeslastyear,Attrition,1_personal_data_Employeenumber) VALUES (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s)"
#variables en el mismo orden que scsv, tantas %s como variables tiene mi csv. 


try: 
    mycursor.executemany(query_insert, lista_tuplas_tabla)
    #ejecuta my query, de que datos? del fichero q estan en mi lista de tuplas q he converido ariba leyendo el csv.) 
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")

except mysql.connector.Error as error:
    print("Error al insertar datos en MySQL:", error)

1510 registros insertados

# TABLA 2B laboral life

In [19]:
df_rawdata.columns

Index(['Age', 'Attrition', 'Businesstravel', 'Department', 'Education',
       'Educationfield', 'Employeenumber', 'Environmentsatisfaction', 'Gender',
       'Jobinvolvement', 'Joblevel', 'Jobrole', 'Jobsatisfaction',
       'Maritalstatus', 'Monthlyrate', 'Numcompaniesworked', 'Overtime',
       'Percentsalaryhike', 'Relationshipsatisfaction', 'Stockoptionlevel',
       'Trainingtimeslastyear', 'Yearsatcompany', 'Yearssincelastpromotion',
       'Yearswithcurrentmanager', 'Datebirth', 'Remotework', 'Dailyrate',
       'Distancefromhome', 'Monthlyincome', 'Performancerating',
       'Totalworkingyears', 'Worklifebalance', 'Hourlyrate'],
      dtype='object')

In [20]:
df_tabla2B = df_rawdata[["Numcompaniesworked","Totalworkingyears", "Education", "Educationfield", "Employeenumber"]]
df_tabla2B.head(3)

,Numcompaniesworked,Totalworkingyears,Education,Educationfield,Employeenumber
0,7,13.6,3,Unknown,162
1,0,34.0,4,Life Sciences,259
2,1,22.0,2,Technical Degree,319

In [21]:
lista_tuplas_tabla = []
for x in df_tabla2B.values:

    lista_tuplas_tabla.append(tuple(x))
    lista_tuplas_tabla

In [22]:
cnx = mysql.connector.connect (user = "root", 
                               password = "AlumnaAdalab", 
                               host='127.0.0.1',
                               database="talent_transformation")

mycursor = cnx.cursor()

query_insert = "INSERT INTO 2B_laboral_life (Numcompaniesworked, Totalworkingyears, Education, Educationfield, 1_personal_data_Employeenumber) VALUES (%s, %s, %s, %s, %s)"
#variables en el mismo orden que scsv, tantas %s como variables tiene mi csv. 


try: 
    mycursor.executemany(query_insert, lista_tuplas_tabla)
    #ejecuta my query, de que datos? del fichero q estan en mi lista de tuplas q he converido ariba leyendo el csv.) 
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")

except mysql.connector.Error as error:
    print("Error al insertar datos en MySQL:", error)

1510 registros insertados

# TABLA 3 economic life -- Pending

In [23]:
df_rawdata.columns

Index(['Age', 'Attrition', 'Businesstravel', 'Department', 'Education',
       'Educationfield', 'Employeenumber', 'Environmentsatisfaction', 'Gender',
       'Jobinvolvement', 'Joblevel', 'Jobrole', 'Jobsatisfaction',
       'Maritalstatus', 'Monthlyrate', 'Numcompaniesworked', 'Overtime',
       'Percentsalaryhike', 'Relationshipsatisfaction', 'Stockoptionlevel',
       'Trainingtimeslastyear', 'Yearsatcompany', 'Yearssincelastpromotion',
       'Yearswithcurrentmanager', 'Datebirth', 'Remotework', 'Dailyrate',
       'Distancefromhome', 'Monthlyincome', 'Performancerating',
       'Totalworkingyears', 'Worklifebalance', 'Hourlyrate'],
      dtype='object')

In [53]:
df_tabla3["Hourlyrate"].isnull().value_counts()

Hourlyrate
False    1510
Name: count, dtype: int64

In [46]:
df_tabla3 = df_rawdata[["Monthlyrate","Percentsalaryhike", "Stockoptionlevel", "Dailyrate", "Monthlyincome", "Hourlyrate", "Employeenumber"]]
df_tabla3.head(3)

,Monthlyrate,Percentsalaryhike,Stockoptionlevel,Dailyrate,Monthlyincome,Hourlyrate,Employeenumber
0,6462,13,0,684.0,19537.0,51.0,162
1,5678,14,1,699.0,19999.0,65.0,259
2,4933,11,0,532.0,19232.0,58.0,319

In [47]:
lista_tuplas_tabla = []
for x in df_tabla3.values:

    lista_tuplas_tabla.append(tuple(x))
    lista_tuplas_tabla

In [59]:
lista_tuplas_tabla[1000:]

[(4167.0, 18.0, 3.0, 528.0, 5361.8, 44.0, 1683.0),
 (23737.0, 12.0, 1.0, 1441.0, 9881.8, 94.0, 1694.0),
 (25103.0, 21.0, 1.0, 427.0, 5844.2, 99.0, 1702.0),
 (6217.0, 15.0, 3.0, 390.0, 2305.0, 62.0, 2358.0),
 (17360.0, 13.0, 1.0, 585.0, 3433.0, 65.6, 2359.0),
 (18103.0, 14.0, 1.0, 741.0, 3477.0, 69.0, 1721.0),
 (20794.0, 19.0, 1.0, 552.0, 4709.4, 60.0, 1722.0),
 (3622.0, 13.0, 3.0, 506.0, 3907.0, 91.0, 2360.0),
 (8658.0, 13.0, 3.0, 1456.0, 10477.4, 96.0, 1733.0),
 (12862.0, 13.0, 0.0, 160.0, 3325.2, 51.0, 1735.0),
 (2097.0, 14.0, 1.0, 897.0, 3367.4, 59.0, 1746.0),
 (9732.0, 11.0, 1.0, 600.0, 4847.6, 68.2, 2361.0),
 (20943.0, 19.0, 1.0, 1003.0, 3505.2, 51.0, 2362.0),
 (6152.0, 11.0, 0.0, 1054.0, 3445.0, 67.0, 1751.0),
 (14630.0, 13.0, 0.0, 428.0, 2760.0, 66.8, 2363.0),
 (23060.0, 12.0, 0.0, 461.0, 6294.0, 70.0, 1753.0),
 (22308.0, 20.0, 3.0, 661.0, 6814.4, 60.0, 2364.0),
 (25353.0, 12.0, 0.0, 511.0, 5578.4, 32.0, 2365.0),
 (22984.0, 11.0, 0.0, 942.0, 13116.0, 53.0, 2366.0),
 (8800.0, 14.0, 2.0, 589.0, 5863.8, 46.0, 1787.0),
 (25166.0, 15.0, 0.0, 849.0, 4490.6, 98.0, 1801.0),
 (24978.0, 13.0, 0.0, 343.0, 4088.8, 52.0, 1813.0),
 (15530.0, 12.0, 0.0, 989.0, 5689.2, 85.0, 1814.0),
 (8277.0, 14.0, 2.0, 1125.0, 5083.6, 60.8, 1833.0),
 (12719.0, 25.0, 1.0, 1217.0, 3591.0, 67.0, 1834.0),
 (4244.0, 20.0, 2.0, 723.0, 5405.0, 77.0, 1835.0),
 (21624.0, 14.0, 0.0, 1216.0, 11190.4, 87.0, 1837.0),
 (3157.0, 15.0, 3.0, 350.0, 4088.8, 56.0, 1844.0),
 (5411.0, 12.0, 0.0, 207.0, 2105.0, 64.0, 1856.0),
 (10494.0, 15.0, 1.0, 280.0, 5167.0, 43.0, 1858.0),
 (26186.0, 12.0, 0.0, 414.0, 5830.2, 82.0, 2367.0),
 (5141.0, 14.0, 3.0, 1025.8, 3902.0, 41.0, 2368.0),
 (7975.0, 20.0, 1.0, 836.0, 2662.0, 98.0, 1873.0),
 (19384.0, 14.0, 0.0, 592.0, 2062.0, 59.0, 1883.0),
 (25388.0, 11.0, 0.0, 219.0, 6881.8, 44.0, 1886.0),
 (14460.0, 23.0, 1.0, 967.0, 8497.8, 85.0, 1905.0),
 (10261.0, 16.0, 0.0, 833.8, 2587.0, 60.4, 1907.0),
 (16822.0, 16.0, 2.0, 335.0, 5507.0, 33.0, 1908.0),
 (20115.0, 11.0, 1.0, 1079.0, 5440.0, 86.0, 2369.0),
 (16495.0, 12.0, 0.0, 735.0, 8103.0, 75.0, 2370.0),
 (16031.0, 12.0, 1.0, 471.0, 3978.0, 62.0, 2371.0),
 (14511.0, 12.0, 0.0, 947.6, 5399.0, 44.0, 1922.0),
 (3987.0, 19.0, 1.0, 1251.0, 3973.4, 32.0, 1929.0),
 (14293.0, 19.0, 2.0, 1206.0, 8171.8, 71.0, 2372.0),
 (3995.0, 13.0, 1.0, 976.0, 2525.4, 48.0, 1948.0),
 (5843.0, 13.0, 0.0, 1168.0, 10448.0, 66.0, 2373.0),
 (5224.0, 11.0, 1.0, 1444.0, 6038.8, 57.0, 1972.0),
 (25198.0, 19.0, 0.0, 793.8, 4440.0, 77.0, 1980.0),
 (13672.0, 13.0, 0.0, 571.0, 6758.6, 78.0, 1982.0),
 (7298.0, 19.0, 1.0, 977.0, 3373.4, 57.0, 1992.0),
 (6393.0, 19.0, 1.0, 1154.0, 3965.8, 54.0, 1996.0),
 (20232.0, 11.0, 1.0, 1490.0, 2660.0, 43.0, 2003.0),
 (17624.0, 12.0, 0.0, 581.0, 3375.0, 63.0, 2007.0),
 (15919.0, 13.0, 0.0, 267.0, 3330.0, 49.0, 2010.0),
 (18024.0, 14.0, 1.0, 234.0, 2269.0, 68.0, 2374.0),
 (25479.0, 11.0, 0.0, 501.0, 4032.8, 58.0, 2375.0),
 (9192.0, 13.0, 3.0, 688.0, 7469.6, 97.0, 2376.0),
 (26124.0, 14.0, 3.0, 1092.0, 4787.0, 36.0, 2027.0),
 (11288.0, 14.0, 0.0, 529.0, 6295.0, 78.0, 2038.0),
 (2725.0, 14.0, 0.0, 1322.0, 2809.0, 52.0, 2048.0),
 (24594.0, 14.0, 2.0, 1199.0, 5267.0, 80.0, 2377.0),
 (16586.0, 13.0, 1.0, 410.0, 10854.0, 39.0, 2055.0),
 (21378.0, 18.0, 0.0, 1167.0, 5578.4, 30.0, 2060.0),
 (12290.0, 17.0, 1.0, 884.0, 2571.0, 41.0, 2061.0),
 (5174.0, 20.0, 1.0, 155.0, 6142.0, 87.0, 2064.0),
 (6670.0, 11.0, 0.0, 924.0, 2496.0, 78.0, 39.0),
 (13072.0, 14.0, 1.0, 852.0, 3419.0, 82.0, 51.0),
 (18775.0, 17.0, 0.0, 1082.0, 2501.0, 87.0, 95.0),
 (19299.0, 14.0, 1.0, 1029.2, 3908.6, 100.0, 169.0),
 (25326.0, 15.0, 1.0, 1450.0, 2566.0, 79.0, 224.0),
 (10515.0, 14.0, 0.0, 134.0, 3465.2, 90.0, 242.0),
 (7703.0, 13.0, 0.0, 635.0, 6823.6, 73.0, 286.0),
 (18697.0, 14.0, 1.0, 1017.0, 3920.0, 83.0, 340.0),
 (26062.0, 20.0, 0.0, 1311.0, 5365.6, 62.2, 2378.0),
 (16321.0, 18.0, 1.0, 1302.0, 6738.6, 75.2, 2379.0),
 (17810.0, 12.0, 0.0, 1091.0, 13964.0, 90.0, 431.0),
 (19394.0, 19.0, 0.0, 755.0, 6540.0, 97.0, 496.0),
 (24440.0, 13.0, 1.0, 253.0, 2244.0, 43.0, 511.0),
 (22578.0, 19.0, 1.0, 922.0, 16184.0, 95.0, 612.0),
 (11512.0, 17.0, 0.0, 1365.0, 4233.0, 46.0, 650.0),
 (5630.0, 14.0, 2.0, 306.0, 3028.0, 100.0, 684.0),
 (13514.0, 19.0, 0.0, 970.0, 14814.0, 59.0, 730.0),
 (7360.0, 11.0, 0.0, 970.0, 8102.6, 96.0, 757.0),
 (5200.0, 24.0, 1.0, 835.6, 17159.0, 94.0, 2380.0),
 (23965.0, 13.0, 1.0, 1169.0, 5211.6, 63.0, 869.0),
 (9068.0, 14.0, 0.0, 1271.0, 4896.2, 35.0, 875.0),
 (17808.0, 19.0, 0.0, 618.0, 2318.0, 76.0, 2381.0),
 (25063.0, 14.0, 1.0, 1469.0, 3617.0, 58.6, 964.0),
 (14922.0, 11.0, 0.0, 625.0, 5238.8, 46.0, 970.0),
 (18203.0, 15.0, 1.0, 1404.0, 3945.6, 84.0, 2382.0),
 (12127.0, 17.0, 1.0, 1391.0, 2684.0, 66.0, 1006.0),
 (12278.0, 11.0, 1.0, 216.0, 5828.4, 75.0, 2383.0),
 (18410.0, 19.0, 1.0, 1333.0, 6874.0, 87.0, 1055.0),
 (12853.0, 11.0, 1.0, 1464.0, 19237.0, 62.0, 1061.0),
 (19373.0, 20.0, 1.0, 1330.0, 2377.0, 37.0, 1107.0),
 (22088.0, 14.0, 1.0, 773.0, 7369.0, 39.0, 2384.0),
 (22955.0, 11.0, 0.0, 1485.0, 7267.4, 79.0, 2385.0),
 (21203.0, 13.0, 1.0, 902.0, 4422.0, 92.0, 1180.0),
 (7172.0, 25.0, 0.0, 645.0, 2552.0, 54.0, 1193.0),
 (5050.0, 17.0, 0.0, 654.0, 2678.0, 43.0, 1226.0),
 (11591.0, 12.0, 1.0, 107.0, 8925.8, 84.0, 2386.0),
 (6148.0, 25.0, 0.0, 504.0, 8022.6, 96.0, 2387.0),
 (16490.0, 17.0, 0.0, 326.0, 5171.0, 48.0, 1254.0),
 (25927.0, 23.0, 2.0, 634.0, 11916.0, 95.0, 1321.0),
 (14720.0, 18.0, 2.0, 1448.0, 9380.0, 55.0, 1465.0),
 (8045.0, 14.0, 1.0, 896.0, 9777.8, 68.0, 2388.0),
 (2939.0, 15.0, 2.0, 1358.0, 6654.2, 96.0, 1479.0),
 (10036.0, 14.0, 3.0, 989.2, 5381.8, 57.0, 1551.0),
 (15624.0, 12.0, 1.0, 824.0, 5878.0, 67.0, 1555.0),
 (7324.0, 17.0, 3.0, 329.0, 5001.6, 51.0, 1604.0),
 (8191.0, 12.0, 0.0, 1313.0, 4548.6, 61.2, 1757.0),
 (15963.0, 14.0, 1.0, 594.0, 2468.0, 75.0, 1760.0),
 (14218.0, 17.0, 1.0, 734.0, 7420.4, 46.0, 1789.0),
 (6208.0, 17.0, 1.0, 234.0, 8022.6, 93.0, 1807.0),
 (19188.0, 18.0, 1.0, 766.0, 4127.0, 83.0, 1812.0),
 (6889.0, 11.0, 0.0, 920.0, 2148.0, 69.0, 1818.0),
 (15696.0, 15.0, 1.0, 431.0, 8040.6, 68.0, 1830.0),
 (4223.0, 21.0, 0.0, 1213.0, 3886.0, 94.0, 1890.0),
 (15318.0, 14.0, 0.0, 238.0, 3750.0, 47.0, 1939.0),
 (16542.0, 18.0, 1.0, 1146.0, 6667.0, 65.0, 2389.0),
 (18779.0, 12.0, 1.0, 1404.0, 3153.8, 32.0, 2390.0),
 (20439.0, 12.0, 3.0, 1313.0, 4104.6, 59.0, 1994.0),
 (2396.0, 15.0, 0.0, 1373.0, 2090.0, 92.0, 4.0),
 (9964.0, 20.0, 3.0, 1324.0, 5858.6, 81.0, 10.0),
 (13335.0, 22.0, 1.0, 1358.0, 3551.0, 67.0, 2391.0),
 (7324.0, 13.0, 2.0, 1123.0, 10477.4, 96.0, 2392.0),
 (19281.0, 14.0, 0.0, 391.0, 9769.4, 96.0, 30.0),
 (16117.0, 13.0, 0.0, 125.0, 5839.8, 83.0, 41.0),
 (3335.0, 14.0, 1.0, 895.0, 2086.0, 56.0, 42.0),
 (3020.0, 16.0, 1.0, 813.0, 5678.4, 61.0, 2393.0),
 (10910.0, 12.0, 1.0, 734.4, 1951.0, 75.0, 53.0),
 (19715.0, 13.0, 1.0, 1240.0, 5578.4, 33.0, 54.0),
 (10558.0, 12.0, 0.0, 1357.0, 3794.2, 48.0, 55.0),
 (10227.0, 21.0, 0.0, 533.6, 3022.0, 73.0, 2394.0),
 (4892.0, 19.0, 0.0, 1229.0, 3438.6, 36.0, 2395.0),
 (19294.0, 13.0, 0.0, 626.0, 6767.4, 98.0, 64.0),
 (8302.0, 13.0, 1.0, 1097.0, 5927.6, 79.0, 70.0),
 (19730.0, 14.0, 3.0, 836.0, 5924.6, 59.2, 84.0),
 (18787.0, 17.0, 1.0, 1339.0, 9724.0, 59.0, 2396.0),
 (21777.0, 17.0, 1.0, 318.0, 3388.0, 64.2, 2397.0),
 (22002.0, 12.0, 0.0, 132.0, 3038.0, 55.0, 97.0),
 (15067.0, 14.0, 0.0, 193.0, 4088.8, 52.0, 2398.0),
 (18092.0, 14.0, 1.0, 111.0, 10163.8, 70.0, 106.0),
 (9518.0, 13.0, 1.0, 541.0, 2322.0, 62.0, 113.0),
 (15178.0, 13.0, 0.0, 827.0, 7791.8, 71.0, 2399.0),
 (19783.0, 18.0, 0.0, 871.0, 2926.0, 66.0, 137.0),
 (15850.0, 14.0, 1.0, 1040.0, 7025.8, 100.0, 139.0),
 (23785.0, 15.0, 0.0, 985.0, 5460.2, 59.0, 144.0),
 (15000.0, 15.0, 1.0, 1031.0, 4505.0, 45.0, 2400.0),
 (2561.0, 22.0, 1.0, 922.0, 2835.0, 39.0, 155.0),
 (26820.0, 19.0, 0.0, 528.0, 6371.6, 70.2, 167.0),
 (6961.0, 21.0, 1.0, 1098.8, 6999.6, 94.0, 200.0),
 (16102.0, 14.0, 0.0, 994.2, 11601.0, 79.0, 201.0),
 (13983.0, 17.0, 0.0, 1169.0, 6115.2, 34.0, 211.0),
 (11873.0, 20.0, 1.0, 1145.0, 4755.2, 75.0, 214.0),
 (20989.0, 21.0, 0.0, 602.0, 5271.8, 100.0, 2401.0),
 (9241.0, 22.0, 0.0, 303.0, 3817.8, 72.6, 243.0),
 (15497.0, 13.0, 0.0, 556.0, 3330.0, 50.0, 2402.0),
 (7259.0, 14.0, 0.0, 1261.0, 6553.0, 63.6, 271.0),
 (11354.0, 19.0, 0.0, 1180.0, 6673.0, 70.0, 282.0),
 (14674.0, 18.0, 0.0, 896.0, 13591.0, 75.0, 2403.0),
 (8456.0, 17.0, 1.0, 142.0, 2177.0, 70.0, 309.0),
 (24118.0, 11.0, 1.0, 854.0, 19517.0, 68.0, 323.0),
 (19877.0, 16.0, 2.0, 1411.0, 6146.0, 36.0, 334.0),
 (15970.0, 11.0, 1.0, 252.0, 19202.0, 70.0, 2404.0),
 (22573.0, 11.0, 2.0, 504.0, 10048.0, 61.0, 342.0),
 (23231.0, 11.0, 0.0, 833.0, 2723.0, 96.0, 2405.0),
 (14935.0, 11.0, 0.0, 529.0, 5683.8, 79.0, 364.0),
 (3687.0, 19.0, 2.0, 1210.0, 6644.0, 78.0, 2406.0),
 (14408.0, 21.0, 1.0, 1463.0, 3953.0, 64.0, 367.0),
 (19191.0, 24.0, 1.0, 322.0, 5605.0, 44.0, 2407.0),
 (19920.0, 22.0, 1.0, 920.0, 3161.0, 43.0, 392.0),
 (26285.0, 12.0, 0.0, 506.0, 4386.0, 30.0, 397.0),
 (25233.0, 13.0, 0.0, 812.6, 1420.0, 54.0, 2408.0),
 (7122.0, 18.0, 2.0, 566.0, 4691.0, 81.0, 407.0),
 (9724.0, 12.0, 0.0, 812.0, 1200.0, 69.0, 2409.0),
 (17778.0, 18.0, 0.0, 1162.0, 5238.0, 41.0, 445.0),
 (9262.0, 16.0, 1.0, 1001.0, 9985.0, 43.0, 2410.0),
 (25751.0, 19.0, 0.0, 1309.0, 5346.2, 99.0, 2411.0),
 (15901.0, 14.0, 0.0, 810.0, 15992.0, 44.0, 468.0),
 (3956.0, 13.0, 1.0, 1062.0, 2370.0, 75.0, 471.0),
 (23978.0, 21.0, 1.0, 530.0, 3099.8, 91.0, 473.0),
 (17078.0, 23.0, 0.0, 1332.0, 6781.0, 98.0, 477.0),
 (15276.0, 15.0, 0.0, 845.0, 6653.0, 45.0, 479.0),
 (9150.0, 13.0, 0.0, 350.0, 2851.0, 34.0, 485.0),
 (16044.0, 14.0, 0.0, 1144.0, 5258.0, 30.0, 487.0),
 (25422.0, 15.0, 0.0, 156.0, 9566.8, 90.0, 494.0),
 (17434.0, 18.0, 1.0, 202.0, 2476.0, 72.0, 508.0),
 (3427.0, 23.0, 0.0, 464.0, 2285.0, 40.0, 514.0),
 (21123.0, 12.0, 0.0, 1305.0, 4197.0, 49.0, 518.0),
 (13436.0, 22.0, 1.0, 555.0, 3448.0, 78.0, 2412.0),
 (13535.0, 12.0, 1.0, 1300.0, 4558.0, 79.0, 2413.0),
 (12106.0, 23.0, 1.0, 1490.0, 1702.0, 42.0, 556.0),
 (18437.0, 12.0, 0.0, 489.0, 2564.0, 67.8, 566.0),
 (22102.0, 12.0, 1.0, 210.0, 5001.6, 56.0, 568.0),
 (7389.0, 13.0, 3.0, 983.0, 5070.0, 65.0, 2414.0),
 (23428.0, 11.0, 0.0, 548.0, 3780.0, 42.0, 2415.0),
 (22908.0, 12.0, 0.0, 534.0, 9824.0, 66.0, 2416.0),
 (8059.0, 14.0, 0.0, 1306.0, 1878.0, 69.0, 614.0),
 (11373.0, 15.0, 1.0, 1094.0, 8854.4, 58.0, 615.0),
 (4267.0, 12.0, 2.0, 775.0, 5398.6, 45.0, 2417.0),
 (23213.0, 18.0, 0.0, 471.0, 2340.0, 66.0, 622.0),
 (22174.0, 19.0, 1.0, 1495.0, 5557.0, 76.0, 2418.0),
 (9100.0, 21.0, 1.0, 823.0, 2127.0, 94.0, 643.0),
 (14470.0, 18.0, 1.0, 448.0, 2033.0, 74.0, 648.0),
 (3010.0, 11.0, 1.0, 558.0, 9602.0, 75.0, 656.0),
 (11757.0, 13.0, 0.0, 959.0, 5830.2, 83.0, 657.0),
 (2671.0, 14.0, 1.0, 782.0, 16627.0, 50.0, 661.0),
 (14561.0, 17.0, 0.0, 362.0, 3828.6, 67.6, 662.0),
 (20431.0, 12.0, 0.0, 1216.0, 5835.2, 39.0, 2419.0),
 (22653.0, 20.0, 1.0, 160.0, 2083.0, 71.0, 2420.0),
 (3487.0, 14.0, 1.0, 1001.0, 10672.8, 62.0, 690.0),
 (26999.0, 11.0, 0.0, 1362.0, 1009.0, 32.0, 701.0),
 (16900.0, 18.0, 2.0, 727.0, 6844.4, 41.0, 704.0),
 (15232.0, 17.0, 0.0, 1225.0, 7260.2, 80.0, 715.0),
 (15397.0, 14.0, 0.0, 168.0, 7861.0, 81.0, 743.0),
 (2755.0, 11.0, 0.0, 1396.0, 2642.0, 70.6, 749.0),
 (4761.0, 11.0, 1.0, 1225.0, 6512.8, 61.0, 2421.0),
 (20471.0, 13.0, 1.0, 268.0, 7394.6, 92.0, 773.0),
 (4187.0, 14.0, 1.0, 167.0, 5121.0, 32.0, 775.0),
 (3445.0, 21.0, 2.0, 1243.0, 7166.4, 69.0, 811.0),
 (26551.0, 11.0, 3.0, 1092.0, 2694.0, 60.0, 812.0),
 (6689.0, 11.0, 1.0, 805.0, 5835.2, 36.0, 816.0),
 (11983.0, 14.0, 0.0, 720.0, 5094.0, 51.0, 832.0),
 (20234.0, 24.0, 0.0, 868.2, 5980.4, 52.0, 833.0),
 (6153.0, 14.0, 0.0, 252.0, 2274.0, 95.0, 834.0),
 (16571.0, 11.0, 3.0, 443.0, 2596.8, 50.0, 2422.0),
 (24558.0, 19.0, 2.0, 342.0, 3982.6, 66.0, 2423.0),
 (9148.0, 12.0, 1.0, 300.0, 2314.0, 61.0, 2424.0),
 (22789.0, 14.0, 1.0, 868.0, 8509.6, 73.0, 897.0),
 (4814.0, 13.0, 0.0, 1252.0, 4071.0, 32.0, 904.0),
 (18016.0, 24.0, 0.0, 374.0, 5488.8, 87.0, 911.0),
 (13384.0, 14.0, 1.0, 781.0, 2380.0, 57.0, 918.0),
 (23814.0, 21.0, 1.0, 177.0, 4801.2, 55.0, 2425.0),
 (8870.0, 19.0, 0.0, 1427.0, 4695.4, 65.0, 923.0),
 (6896.0, 14.0, 2.0, 546.0, 2008.0, 83.0, 934.0),
 (9255.0, 13.0, 1.0, 1272.0, 10552.0, 37.0, 940.0),
 (5543.0, 17.0, 2.0, 874.4, 2259.0, 51.0, 945.0),
 (3974.0, 20.0, 0.0, 1184.0, 5301.4, 70.0, 951.0),
 (18798.0, 18.0, 3.0, 867.0, 2413.0, 36.0, 952.0),
 (20652.0, 12.0, 1.0, 658.0, 5066.6, 67.0, 954.0),
 (9947.0, 13.0, 0.0, 419.0, 2121.0, 37.0, 959.0),
 (13008.0, 19.0, 0.0, 129.0, 5479.6, 84.0, 2426.0),
 (12291.0, 14.0, 0.0, 1069.0, 5771.6, 42.0, 2427.0),
 (26227.0, 24.0, 0.0, 289.0, 2479.0, 51.0, 2428.0),
 (17071.0, 16.0, 0.0, 1479.0, 13194.0, 100.0, 986.0),
 (11479.0, 20.0, 0.0, 906.0, 9522.4, 92.0, 994.0),
 (8571.0, 17.0, 0.0, 955.0, 4163.0, 83.0, 1003.0),
 (13493.0, 15.0, 0.0, 287.0, 7681.4, 73.0, 1012.0),
 (18275.0, 15.0, 0.0, 1097.0, 2600.0, 98.0, 2429.0),
 (7770.0, 13.0, 0.0, 265.0, 18303.0, 90.0, 1029.0),
 (20165.0, 18.0, 0.0, 804.0, 2380.0, 64.0, 2430.0),
 (14382.0, 15.0, 0.0, 1141.0, 4777.0, 61.0, 1033.0),
 (4981.0, 12.0, 0.0, 810.0, 5281.4, 42.0, 2431.0),
 (7858.0, 14.0, 1.0, 660.0, 5061.6, 81.0, 1052.0),
 (23384.0, 22.0, 0.0, 1144.0, 1052.0, 74.0, 1056.0),
 (5268.0, 13.0, 1.0, 415.0, 7968.2, 62.4, 1076.0),
 (17258.0, 13.0, 0.0, 1334.0, 5835.2, 36.0, 1079.0),
 (10332.0, 12.0, 3.0, 1323.0, 2461.0, 34.0, 1081.0),
 (24223.0, 14.0, 3.0, 309.0, 3651.2, 88.0, 1105.0),
 (7160.0, 15.0, 2.0, 1009.0, 2596.0, 45.0, 1111.0),
 (17251.0, 14.0, 0.0, 1083.2, 4728.0, 81.0, 1113.0),
 (22478.0, 17.0, 3.0, 697.0, 5757.0, 40.0, 1115.0),
 (20619.0, 16.0, 0.0, 130.0, 7351.0, 32.0, 1125.0),
 (9558.0, 19.0, 0.0, 188.0, 7798.0, 56.0, 2432.0),
 (13556.0, 12.0, 0.0, 247.0, 7260.2, 80.0, 1156.0),
 (9051.0, 11.0, 1.0, 167.0, 4766.0, 46.0, 1158.0),
 (16340.0, 12.0, 1.0, 982.0, 2258.0, 58.0, 1172.0),
 (14947.0, 12.0, 3.0, 862.0, 2827.0, 76.0, 1190.0),
 (4223.0, 11.0, 1.0, 1256.0, 2853.0, 48.0, 2433.0),
 (4279.0, 13.0, 0.0, 111.0, 2290.0, 74.0, 1206.0),
 (20293.0, 17.0, 1.0, 906.0, 2107.0, 95.0, 1210.0),
 (25440.0, 12.0, 3.0, 1184.0, 8548.4, 62.0, 2434.0),
 (3372.0, 13.0, 1.0, 984.0, 2210.0, 97.0, 2435.0),
 (23281.0, 17.0, 0.0, 458.0, 13191.0, 60.0, 1242.0),
 (12124.0, 13.0, 1.0, 1098.0, 8682.2, 85.0, 1256.0),
 (16620.0, 11.0, 0.0, 969.0, 5795.8, 76.0, 1258.0),
 (4204.0, 11.0, 2.0, 1329.0, 5472.8, 82.0, 1260.0),
 (8733.0, 12.0, 0.0, 715.0, 18265.0, 76.0, 1263.0),
 (21643.0, 17.0, 0.0, 1320.0, 9334.0, 89.0, 2436.0),
 (21221.0, 12.0, 0.0, 265.0, 3330.0, 57.0, 1269.0),
 (16901.0, 22.0, 1.0, 373.0, 5070.8, 47.0, 1270.0),
 (8040.0, 14.0, 0.0, 599.0, 1118.0, 73.0, 1273.0),
 (5628.0, 16.0, 0.0, 603.0, 2372.0, 78.0, 2437.0),
 (4257.0, 14.0, 0.0, 968.0, 2838.0, 40.0, 2438.0),
 (13035.0, 22.0, 0.0, 364.0, 18061.0, 58.6, 1306.0),
 (6527.0, 14.0, 1.0, 1291.0, 7967.4, 98.0, 1364.0),
 (19305.0, 15.0, 0.0, 1124.0, 1611.0, 97.0, 1368.0),
 (11882.0, 14.0, 0.0, 703.0, 3140.2, 90.0, 1379.0),
 (16154.0, 12.0, 0.0, 1019.6, 8846.6, 50.0, 1427.0),
 (22262.0, 12.0, 0.0, 202.0, 6904.0, 34.0, 1433.0),
 (7679.0, 14.0, 0.0, 1377.0, 9574.2, 91.0, 1434.0),
 (17181.0, 23.0, 0.0, 592.0, 4160.6, 54.0, 1458.0),
 (9282.0, 12.0, 1.0, 383.0, 4768.0, 79.0, 1481.0),
 (7152.0, 13.0, 2.0, 990.0, 1274.0, 69.4, 1482.0),
 (16192.0, 13.0, 1.0, 660.0, 2404.0, 76.0, 2439.0),
 (16998.0, 11.0, 0.0, 381.0, 3422.8, 89.0, 1494.0),
 (7103.0, 13.0, 1.0, 830.0, 2033.0, 78.0, 2440.0),
 (5355.0, 11.0, 0.0, 289.0, 2561.0, 66.4, 1504.0),
 (12530.0, 14.0, 1.0, 1423.0, 1563.0, 72.0, 2441.0),
 (22049.0, 17.0, 0.0, 516.0, 6388.0, 69.0, 1515.0),
 (9150.0, 18.0, 0.0, 1089.0, 8376.0, 32.0, 1525.0),
 (24052.0, 14.0, 1.0, 1210.0, 4841.0, 68.0, 1542.0),
 (22376.0, 18.0, 2.0, 598.0, 3342.8, 91.0, 1558.0),
 (21731.0, 19.0, 0.0, 992.0, 8505.2, 68.0, 1564.0),
 (26619.0, 12.0, 1.0, 104.0, 2074.0, 69.0, 2442.0),
 (22061.0, 13.0, 0.0, 479.0, 2972.0, 35.0, 1577.0),
 (11133.0, 21.0, 0.0, 474.0, 3134.8, 89.0, 1581.0),
 (21447.0, 13.0, 0.0, 884.0, 6815.0, 73.0, 2443.0),
 (19519.0, 16.0, 1.0, 264.0, 7678.6, 59.0, 1591.0),
 (26362.0, 22.0, 0.0, 1059.0, 8483.8, 93.0, 2444.0),
 (7713.0, 18.0, 1.0, 1349.0, 2690.0, 63.0, 1601.0),
 (3156.0, 15.0, 0.0, 563.0, 17567.0, 56.0, 1602.0),
 (18420.0, 12.0, 0.0, 544.0, 1569.0, 70.0, 1624.0),
 (3356.0, 13.0, 1.0, 991.0, 4187.0, 43.0, 1669.0),
 (22589.0, 11.0, 2.0, 1112.0, 6302.4, 67.0, 1673.0),
 (11591.0, 16.0, 0.0, 1206.0, 5244.4, 80.0, 1678.0),
 (26176.0, 19.0, 1.0, 1495.0, 3306.0, 87.0, 2445.0),
 (24852.0, 12.0, 0.0, 1259.0, 1393.0, 95.0, 2446.0),
 (20467.0, 20.0, 1.0, 918.2, 10883.0, 92.0, 1697.0),
 (11585.0, 11.0, 1.0, 240.0, 2778.8, 58.0, 1714.0),
 (5041.0, 16.0, 1.0, 369.0, 6590.6, 92.0, 1724.0),
 (3811.0, 12.0, 1.0, 793.0, 2862.0, 33.0, 2447.0),
 (3536.0, 11.0, 1.0, 543.0, 2830.2, 87.0, 1731.0),
 (12147.0, 15.0, 0.0, 964.0, 6735.0, 62.0, 2448.0),
 (6595.0, 21.0, 2.0, 176.0, 9756.0, 56.0, 1744.0),
 (5586.0, 14.0, 3.0, 181.0, 7817.4, 97.0, 1755.0),
 (10092.0, 20.0, 0.0, 211.0, 6641.0, 74.0, 1758.0),
 (19002.0, 13.0, 3.0, 1079.0, 7099.6, 70.0, 1761.0),
 (10007.0, 13.0, 1.0, 590.0, 4250.0, 91.0, 2449.0),
 (9128.0, 16.0, 1.0, 305.0, 5294.0, 58.0, 1763.0),
 (24539.0, 16.0, 1.0, 833.0, 4541.2, 60.0, 1766.0),
 (15587.0, 16.0, 1.0, 807.0, 2437.0, 38.0, 2450.0),
 (19805.0, 12.0, 3.0, 478.0, 8180.0, 60.0, 2451.0),
 (4567.0, 13.0, 0.0, 337.0, 4655.0, 31.0, 2452.0),
 (15999.0, 17.0, 0.0, 1294.0, 6294.0, 79.0, 1783.0),
 (12832.0, 13.0, 0.0, 1239.0, 4071.0, 89.0, 2453.0),
 (5696.0, 18.0, 2.0, 1128.0, 10254.8, 95.0, 2454.0),
 (8018.0, 16.0, 0.0, 1431.0, 3701.6, 33.0, 1839.0),
 (21495.0, 17.0, 0.0, 359.0, 2956.0, 89.0, 1842.0),
 (19573.0, 22.0, 1.0, 430.0, 7848.6, 73.0, 1847.0),
 (26075.0, 13.0, 0.0, 1318.0, 4648.0, 79.0, 1853.0),
 (21143.0, 17.0, 2.0, 726.0, 2830.8, 93.0, 2455.0),
 (13624.0, 13.0, 0.0, 1142.0, 4306.0, 77.8, 1860.0),
 (15434.0, 11.0, 0.0, 352.0, 2804.0, 87.0, 1865.0),
 (14753.0, 24.0, 0.0, 927.2, 2439.0, 73.0, 2456.0),
 (3692.0, 19.0, 1.0, 1172.0, 2856.0, 78.0, 1875.0),
 (16019.0, 13.0, 0.0, 945.0, 4511.8, 89.0, 1876.0),
 (26092.0, 23.0, 0.0, 391.0, 4228.4, 75.0, 2457.0),
 (14908.0, 13.0, 1.0, 482.0, 2933.0, 90.0, 1893.0),
 (9364.0, 15.0, 1.0, 170.0, 6534.0, 78.0, 1903.0),
 (10642.0, 17.0, 0.0, 746.0, 1091.0, 45.0, 1928.0),
 (23352.0, 11.0, 0.0, 1475.0, 5927.6, 84.0, 1933.0),
 (20328.0, 16.0, 1.0, 1443.0, 9901.2, 89.0, 1935.0),
 (12315.0, 25.0, 1.0, 867.0, 5151.0, 87.0, 1936.0),
 (11761.0, 13.0, 1.0, 605.0, 5761.4, 72.0, 1938.0),
 (2900.0, 12.0, 2.0, 419.0, 5564.2, 77.0, 1943.0),
 (19555.0, 12.0, 0.0, 1337.0, 2863.0, 58.0, 1944.0),
 (11473.0, 14.0, 0.0, 1404.0, 2858.0, 59.0, 1961.0),
 (10138.0, 24.0, 0.0, 1373.0, 4401.2, 56.0, 1966.0),
 (17536.0, 11.0, 3.0, 1276.0, 1129.0, 59.0, 1974.0),
 (19655.0, 14.0, 0.0, 309.0, 5830.2, 82.0, 2458.0),
 (4060.0, 19.0, 2.0, 543.0, 5115.4, 83.0, 2012.0),
 (15302.0, 13.0, 0.0, 105.0, 19431.0, 87.0, 2459.0),
 (26956.0, 19.0, 1.0, 638.0, 6836.6, 33.0, 2023.0),
 (16642.0, 16.0, 0.0, 1146.0, 3996.2, 31.0, 2040.0),
 (4944.0, 25.0, 1.0, 1440.0, 2308.0, 55.0, 1541.0),
 (2122.0, 14.0, 0.0, 1103.0, 2144.0, 49.0, 1947.0),
 (6225.0, 12.0, 1.0, 136.0, 5373.0, 89.0, 1954.0),
 (3465.0, 12.0, 1.0, 147.0, 11279.0, 94.0, 2460.0),
 (9647.0, 12.0, 2.0, 119.0, 7870.6, 76.0, 307.0),
 (6599.0, 14.0, 1.0, 1413.0, 5771.6, 42.0, 2461.0),
 (18938.0, 14.0, 0.0, 452.0, 19045.0, 81.0, 374.0),
 (15896.0, 19.0, 0.0, 334.0, 16015.0, 88.0, 2462.0),
 (10942.0, 17.0, 3.0, 1132.0, 9613.0, 48.0, 2463.0),
 (15682.0, 14.0, 1.0, 1025.0, 11510.0, 92.0, 2464.0),
 (4345.0, 11.0, 1.0, 982.0, 9737.2, 70.0, 2465.0),
 (4156.0, 12.0, 1.0, 480.0, 4306.0, 31.0, 524.0),
 (9314.0, 15.0, 1.0, 1099.0, 17046.0, 88.0, 569.0),
 (21437.0, 19.0, 0.0, 1038.0, 3422.8, 88.0, 1044.0),
 (15346.0, 14.0, 1.0, 342.0, 2042.0, 57.0, 1053.0),
 (2997.0, 16.0, 1.0, 1186.0, 2821.0, 44.0, 2466.0),
 (21445.0, 17.0, 2.0, 430.0, 7369.0, 40.0, 1069.0),
 (25326.0, 11.0, 0.0, 984.0, 2070.0, 70.0, 1131.0),
 (21981.0, 12.0, 1.0, 793.0, 2791.0, 67.0, 1135.0),
 (18500.0, 11.0, 1.0, 1182.0, 4088.8, 54.0, 2467.0),

In [58]:
lista_tuplas_tabla[0:1000]

[(6462.0, 13.0, 0.0, 684.0, 19537.0, 51.0, 162.0),
 (5678.0, 14.0, 1.0, 699.0, 19999.0, 65.0, 259.0),
 (4933.0, 11.0, 0.0, 532.0, 19232.0, 58.0, 319.0),
 (26703.0, 19.0, 2.0, 359.0, 17169.0, 82.0, 2069.0),
 (7739.0, 12.0, 1.0, 1319.0, 4884.6, 45.0, 2070.0),
 (2437.0, 11.0, 1.0, 117.0, 17174.0, 58.0, 1900.0),
 (2354.0, 11.0, 0.0, 1435.0, 10477.4, 99.0, 81.0),
 (24532.0, 25.0, 0.0, 635.0, 8659.6, 99.0, 387.0),
 (5626.0, 16.0, 1.0, 1276.0, 16595.0, 91.0, 2071.0),
 (3735.0, 17.0, 1.0, 840.0, 7971.4, 64.0, 999.0),
 (20284.0, 22.0, 2.0, 247.0, 19973.0, 55.0, 1035.0),
 (18235.0, 12.0, 1.0, 1369.0, 13402.0, 68.0, 2072.0),
 (3376.0, 12.0, 1.0, 201.0, 13206.0, 99.0, 2073.0),
 (16280.0, 12.0, 0.0, 1360.0, 19545.0, 49.0, 58.0),
 (13339.0, 11.0, 0.0, 692.0, 8032.8, 61.0, 2074.0),
 (13022.0, 14.0, 0.0, 1398.0, 18041.0, 79.0, 558.0),
 (25761.0, 12.0, 0.0, 286.0, 19246.0, 31.0, 825.0),
 (24097.0, 23.0, 0.0, 1402.0, 13042.0, 69.0, 2075.0),
 (26312.0, 11.0, 0.0, 819.0, 8372.8, 48.0, 2076.0),
 (25800.0, 13.0, 2.0, 884.0, 5292.0, 80.0, 2077.0),
 (3395.0, 23.0, 1.0, 1238.0, 10748.0, 74.0, 1712.0),
 (15146.0, 12.0, 0.0, 515.0, 5537.6, 98.0, 73.0),
 (8202.0, 13.0, 3.0, 1223.0, 5431.6, 59.0, 2078.0),
 (12982.0, 11.0, 1.0, 202.0, 16752.0, 33.0, 820.0),
 (2823.0, 14.0, 1.0, 928.0, 6201.0, 56.0, 2079.0),
 (23457.0, 20.0, 1.0, 607.0, 5470.0, 66.0, 2080.0),
 (25846.0, 15.0, 1.0, 266.0, 19845.0, 57.0, 2081.0),
 (2323.0, 11.0, 0.0, 429.0, 5280.2, 53.0, 1294.0),
 (22949.0, 12.0, 1.0, 589.0, 4778.0, 79.0, 2082.0),
 (12313.0, 14.0, 1.0, 769.8, 4001.0, 87.0, 1774.0),
 (26458.0, 13.0, 1.0, 1263.8, 10447.0, 81.0, 1815.0),
 (13084.0, 23.0, 0.0, 1180.0, 11332.0, 84.0, 1993.0),
 (10735.0, 11.0, 1.0, 1282.0, 3236.4, 58.0, 32.0),
 (23016.0, 14.0, 0.0, 776.0, 5578.4, 32.0, 100.0),
 (12482.0, 14.0, 0.0, 665.0, 6424.0, 41.0, 2083.0),
 (2137.0, 25.0, 3.0, 526.0, 5837.8, 92.0, 244.0),
 (7744.0, 22.0, 1.0, 1034.0, 16064.0, 80.0, 327.0),
 (20251.0, 11.0, 1.0, 1403.0, 3210.0, 47.0, 373.0),
 (2845.0, 19.0, 0.0, 1499.0, 10266.0, 80.0, 2084.0),
 (23772.0, 21.0, 1.0, 580.0, 10475.0, 48.0, 729.0),
 (19124.0, 12.0, 1.0, 859.0, 6162.0, 98.0, 830.0),
 (3119.0, 13.0, 0.0, 263.0, 4721.0, 59.0, 2085.0),
 (13938.0, 13.0, 1.0, 1376.0, 5693.4, 70.2, 981.0),
 (8269.0, 16.0, 0.0, 885.0, 6325.2, 43.0, 1042.0),
 (21029.0, 23.0, 3.0, 1003.0, 4615.0, 74.0, 1080.0),
 (7636.0, 15.0, 2.0, 1321.0, 6773.8, 86.0, 1995.0),
 (25796.0, 20.0, 0.0, 1163.8, 12638.4, 30.0, 145.0),
 (19494.0, 12.0, 2.0, 394.0, 16959.0, 92.0, 158.0),
 (15881.0, 12.0, 0.0, 1372.0, 6911.4, 42.0, 391.0),
 (24624.0, 11.0, 0.0, 1084.6, 5910.0, 65.0, 436.0),
 (16292.0, 13.0, 1.0, 1333.0, 7216.0, 80.0, 2086.0),
 (11380.0, 12.0, 1.0, 228.0, 4388.6, 51.0, 1527.0),
 (21530.0, 17.0, 0.0, 737.0, 10306.0, 55.0, 2087.0),
 (22539.0, 13.0, 0.0, 823.0, 6294.0, 81.0, 1866.0),
 (26236.0, 21.0, 1.0, 667.0, 3965.8, 57.0, 2026.0),
 (10436.0, 24.0, 1.0, 301.0, 5406.0, 88.0, 2088.0),
 (15717.0, 12.0, 3.0, 573.0, 6294.0, 79.0, 107.0),
 (5549.0, 14.0, 0.0, 941.6, 4035.2, 96.0, 170.0),
 (14590.0, 14.0, 1.0, 1329.0, 5902.0, 47.0, 2089.0),
 (8552.0, 11.0, 1.0, 630.0, 10855.0, 67.0, 215.0),
 (9945.0, 16.0, 0.0, 868.0, 5914.0, 62.0, 304.0),
 (23866.0, 15.0, 2.0, 1063.0, 3579.6, 72.0, 529.0),
 (19368.0, 13.0, 0.0, 1017.0, 6646.0, 82.0, 691.0),
 (5335.0, 23.0, 1.0, 1296.0, 7895.4, 70.6, 692.0),
 (4161.0, 18.0, 1.0, 939.0, 13973.0, 58.6, 1005.0),
 (22245.0, 14.0, 0.0, 1355.0, 9047.6, 78.0, 1024.0),
 (11737.0, 18.0, 1.0, 1448.0, 13320.0, 53.0, 1039.0),
 (7744.0, 25.0, 0.0, 200.0, 4568.0, 32.0, 1225.0),
 (13888.0, 20.0, 3.0, 1202.0, 10307.4, 89.0, 1375.0),
 (6163.0, 11.0, 0.0, 404.0, 6687.0, 98.0, 2090.0),
 (12250.0, 12.0, 1.0, 208.0, 4088.8, 52.0, 2091.0),
 (21981.0, 15.0, 3.0, 813.0, 4471.8, 50.0, 2092.0),
 (11652.0, 19.0, 1.0, 465.0, 6941.0, 41.0, 1661.0),
 (9867.0, 15.0, 2.0, 1189.0, 4735.0, 90.0, 1668.0),
 (13637.0, 18.0, 3.0, 1004.8, 6869.6, 79.0, 1698.0),
 (19271.0, 12.0, 1.0, 1001.0, 4265.0, 92.0, 2093.0),
 (18115.0, 16.0, 1.0, 1394.0, 4918.8, 58.0, 1937.0),
 (15471.0, 25.0, 1.0, 161.0, 6280.6, 42.0, 2017.0),
 (15830.0, 19.0, 3.0, 288.0, 5183.0, 99.0, 117.0),
 (24409.0, 13.0, 0.0, 682.0, 13872.0, 37.0, 131.0),
 (5615.0, 12.0, 0.0, 1354.0, 7623.4, 45.0, 153.0),
 (3465.0, 12.0, 1.0, 147.0, 11279.0, 94.0, 2094.0),
 (6599.0, 14.0, 1.0, 1413.0, 5771.6, 42.0, 2095.0),
 (15896.0, 19.0, 0.0, 334.0, 16015.0, 88.0, 2096.0),
 (10942.0, 17.0, 3.0, 1132.0, 9613.0, 48.0, 2097.0),
 (15682.0, 14.0, 1.0, 1025.0, 11510.0, 92.0, 2098.0),
 (4345.0, 11.0, 1.0, 982.0, 5211.6, 59.0, 2099.0),
 (9129.0, 16.0, 0.0, 672.0, 4691.0, 78.0, 899.0),
 (6759.0, 19.0, 0.0, 1379.0, 5067.0, 64.0, 2100.0),
 (6975.0, 11.0, 1.0, 583.0, 5631.2, 57.0, 1014.0),
 (26542.0, 20.0, 1.0, 1492.0, 3993.4, 61.0, 2101.0),
 (17970.0, 13.0, 1.0, 1050.0, 6387.0, 65.0, 1117.0),
 (6311.0, 13.0, 1.0, 117.0, 4951.4, 60.0, 1238.0),
 (9256.0, 12.0, 0.0, 469.0, 3692.0, 46.0, 2102.0),
 (2493.0, 16.0, 0.0, 770.2, 11693.0, 94.0, 1277.0),
 (19196.0, 24.0, 1.0, 237.0, 19847.0, 83.0, 2103.0),
 (3525.0, 24.0, 1.0, 1291.0, 4401.8, 65.0, 1666.0),
 (11912.0, 14.0, 1.0, 1157.0, 4401.2, 57.0, 1696.0),
 (7129.0, 13.0, 3.0, 1336.0, 5849.2, 100.0, 1805.0),
 (13583.0, 12.0, 0.0, 1224.0, 10198.2, 91.0, 2104.0),
 (26496.0, 15.0, 0.0, 735.0, 5747.0, 86.0, 1932.0),
 (24032.0, 19.0, 2.0, 1006.2, 10422.0, 48.0, 2016.0),
 (10195.0, 11.0, 1.0, 1389.0, 4576.4, 51.0, 20.0),
 (3142.0, 13.0, 1.0, 638.0, 7369.0, 40.0, 2105.0),
 (13982.0, 19.0, 0.0, 1240.0, 6347.0, 48.0, 184.0),
 (10901.0, 18.0, 1.0, 194.0, 2348.0, 60.0, 206.0),
 (8053.0, 12.0, 1.0, 1339.0, 7369.0, 41.0, 228.0),
 (11012.0, 11.0, 2.0, 111.0, 3072.0, 66.0, 239.0),
 (14074.0, 17.0, 0.0, 901.6, 5582.6, 45.0, 256.0),
 (15736.0, 16.0, 2.0, 1469.0, 12490.0, 81.0, 2106.0),
 (23687.0, 13.0, 1.0, 470.0, 5375.6, 84.0, 339.0),
 (5100.0, 15.0, 2.0, 1232.0, 8020.0, 96.0, 406.0),
 (20308.0, 18.0, 1.0, 1249.0, 8358.4, 97.0, 2107.0),
 (5355.0, 14.0, 0.0, 117.0, 17068.0, 99.0, 429.0),
 (14034.0, 24.0, 1.0, 798.0, 8943.0, 48.0, 2108.0),
 (21141.0, 15.0, 1.0, 672.0, 19272.0, 54.0, 444.0),
 (9278.0, 14.0, 2.0, 549.0, 6920.4, 75.0, 452.0),
 (5431.0, 13.0, 3.0, 570.0, 5589.6, 30.0, 456.0),
 (25713.0, 14.0, 0.0, 1232.0, 5835.2, 39.0, 2109.0),
 (7246.0, 11.0, 1.0, 541.0, 7392.6, 48.0, 481.0),
 (3809.0, 13.0, 2.0, 164.0, 4885.8, 61.0, 513.0),
 (9873.0, 23.0, 0.0, 1117.0, 8578.4, 83.0, 597.0),
 (18659.0, 11.0, 0.0, 619.0, 7135.6, 85.0, 600.0),
 (6950.0, 21.0, 1.0, 319.0, 3369.0, 56.0, 2110.0),
 (22087.0, 12.0, 2.0, 956.0, 5577.0, 78.0, 630.0),
 (2125.0, 17.0, 1.0, 1245.0, 3954.8, 58.0, 638.0),
 (7660.0, 12.0, 1.0, 1397.0, 2691.0, 42.0, 683.0),
 (5207.0, 13.0, 0.0, 527.0, 7226.8, 63.0, 780.0),
 (25995.0, 11.0, 0.0, 213.0, 5468.6, 49.0, 817.0),
 (20206.0, 18.0, 0.0, 905.0, 8630.0, 72.0, 901.0),
 (22477.0, 11.0, 1.0, 527.0, 7403.0, 51.0, 944.0),
 (6812.0, 13.0, 1.0, 882.0, 7275.0, 70.2, 984.0),
 (24608.0, 18.0, 1.0, 330.0, 8823.0, 65.0, 1088.0),
 (15596.0, 12.0, 1.0, 406.0, 3228.4, 46.2, 1124.0),
 (23238.0, 20.0, 0.0, 217.0, 4691.0, 78.0, 2111.0),
 (2447.0, 12.0, 0.0, 481.0, 5504.0, 44.0, 1167.0),
 (25755.0, 20.0, 0.0, 669.0, 5537.6, 97.0, 1184.0),
 (9369.0, 21.0, 1.0, 1465.0, 3579.0, 63.0, 2112.0),
 (23474.0, 14.0, 0.0, 685.0, 17779.0, 85.0, 2113.0),
 (17198.0, 19.0, 0.0, 1062.0, 4490.6, 96.0, 1252.0),
 (8751.0, 11.0, 1.0, 1099.0, 18213.0, 88.0, 1267.0),
 (25592.0, 15.0, 1.0, 177.0, 13577.0, 37.0, 1278.0),
 (17477.0, 14.0, 2.0, 1199.0, 19190.0, 92.0, 1288.0),
 (21833.0, 11.0, 2.0, 648.0, 5381.0, 56.0, 2114.0),
 (17334.0, 13.0, 2.0, 412.0, 17123.0, 94.0, 1307.0),
 (6992.0, 14.0, 1.0, 282.0, 19187.0, 58.0, 1336.0),
 (17588.0, 11.0, 1.0, 770.0, 5045.2, 84.0, 1352.0),
 (12023.0, 14.0, 0.0, 601.0, 10008.0, 53.0, 1360.0),
 (18706.0, 11.0, 0.0, 855.0, 4707.0, 54.0, 2115.0),
 (9769.0, 13.0, 0.0, 332.0, 7988.0, 51.0, 1419.0),
 (15891.0, 18.0, 0.0, 1326.0, 5858.6, 81.0, 1478.0),
 (16458.0, 13.0, 0.0, 748.0, 5425.4, 74.0, 1480.0),
 (2721.0, 24.0, 1.0, 405.0, 5234.2, 93.0, 2116.0),
 (7815.0, 23.0, 0.0, 790.0, 6295.8, 40.0, 1489.0),
 (24456.0, 20.0, 1.0, 1050.0, 8770.6, 87.0, 1520.0),
 (12288.0, 14.0, 0.0, 971.0, 7083.0, 64.0, 1535.0),
 (16213.0, 18.0, 0.0, 1370.0, 4723.0, 87.0, 1586.0),
 (25348.0, 17.0, 2.0, 750.0, 3407.0, 46.0, 1596.0),
 (10414.0, 24.0, 0.0, 880.0, 4440.2, 36.0, 1667.0),
 (20338.0, 12.0, 0.0, 678.0, 2929.0, 35.0, 1701.0),
 (6069.0, 17.0, 1.0, 1179.0, 5915.4, 73.0, 1706.0),
 (22577.0, 22.0, 1.0, 350.0, 3920.6, 52.0, 2117.0),
 (6060.0, 13.0, 1.0, 1266.0, 5538.8, 63.0, 2118.0),
 (16873.0, 17.0, 1.0, 574.0, 5722.6, 30.0, 1971.0),
 (25811.0, 18.0, 1.0, 189.0, 9466.0, 71.0, 2119.0),
 (14811.0, 12.0, 0.0, 756.0, 10057.0, 37.0, 1976.0),
 (26849.0, 11.0, 1.0, 692.0, 5425.4, 73.0, 1985.0),
 (3666.0, 11.0, 1.0, 310.0, 4940.0, 72.0, 2032.0),
 (8828.0, 11.0, 1.0, 722.0, 12031.0, 60.0, 2056.0),
 (22021.0, 16.0, 0.0, 1219.0, 15427.0, 78.0, 2120.0),
 (2975.0, 15.0, 0.0, 994.0, 5835.2, 37.0, 2121.0),
 (10781.0, 23.0, 0.0, 721.0, 6644.6, 58.0, 57.0),
 (11031.0, 22.0, 1.0, 853.0, 3407.8, 71.0, 2122.0),
 (10877.0, 22.0, 1.0, 427.0, 6162.0, 67.0, 78.0),
 (15998.0, 12.0, 2.0, 852.0, 5126.0, 55.0, 104.0),
 (13596.0, 16.0, 0.0, 669.0, 9619.0, 64.0, 118.0),
 (19760.0, 12.0, 3.0, 1334.0, 6088.8, 63.0, 121.0),
 (24301.0, 16.0, 0.0, 1093.0, 5010.0, 87.0, 125.0),
 (11439.0, 13.0, 2.0, 1051.8, 5398.6, 94.0, 2123.0),
 (15589.0, 14.0, 0.0, 967.0, 5963.2, 43.0, 207.0),
 (4609.0, 12.0, 1.0, 465.0, 3720.8, 56.0, 227.0),
 (6499.0, 14.0, 1.0, 989.0, 19033.0, 46.0, 253.0),
 (20462.0, 23.0, 1.0, 1195.0, 10825.0, 65.0, 264.0),
 (25812.0, 11.0, 0.0, 1045.0, 10400.0, 32.0, 291.0),
 (20925.0, 22.0, 0.0, 829.0, 4757.2, 88.0, 292.0),
 (10056.0, 14.0, 3.0, 663.0, 5863.8, 47.0, 306.0),
 (2539.0, 17.0, 1.0, 319.0, 2793.0, 41.0, 2124.0),
 (24447.0, 17.0, 2.0, 1300.0, 3302.2, 62.0, 335.0),
 (6927.0, 15.0, 1.0, 1105.0, 5674.0, 47.0, 2125.0),
 (16985.0, 14.0, 1.0, 906.0, 3834.0, 91.0, 420.0),
 (26707.0, 17.0, 1.0, 849.0, 4691.0, 81.0, 421.0),
 (11934.0, 13.0, 2.0, 1275.0, 3105.4, 64.0, 441.0),
 (8213.0, 14.0, 1.0, 1218.0, 19197.0, 52.0, 531.0),
 (3854.0, 11.0, 0.0, 422.0, 6280.6, 41.0, 549.0),
 (2890.0, 11.0, 0.0, 1398.0, 8412.0, 69.0, 567.0),
 (14394.0, 25.0, 1.0, 1274.0, 5573.6, 72.0, 581.0),
 (3164.0, 11.0, 0.0, 1076.0, 3348.0, 70.0, 702.0),
 (3297.0, 11.0, 3.0, 1207.0, 8338.8, 74.0, 716.0),
 (21146.0, 15.0, 2.0, 430.0, 5309.0, 80.0, 772.0),
 (11806.0, 13.0, 1.0, 933.0, 4983.2, 98.0, 836.0),
 (5860.0, 18.0, 2.0, 1184.0, 7654.0, 43.0, 840.0),
 (8842.0, 16.0, 1.0, 907.0, 12808.0, 42.0, 844.0),
 (21816.0, 22.0, 1.0, 586.0, 5099.8, 48.0, 2126.0),
 (19028.0, 22.0, 0.0, 890.0, 7260.2, 81.0, 867.0),
 (8891.0, 14.0, 1.0, 379.0, 6037.4, 48.0, 889.0),
 (4821.0, 17.0, 1.0, 1425.0, 6586.0, 68.0, 924.0),
 (24406.0, 13.0, 1.0, 1188.0, 5700.2, 45.0, 2127.0),
 (12287.0, 21.0, 0.0, 938.0, 2519.0, 79.0, 2128.0),
 (13829.0, 15.0, 1.0, 1053.0, 17099.0, 70.0, 976.0),
 (20489.0, 11.0, 0.0, 722.0, 4913.2, 38.0, 992.0),
 (14039.0, 15.0, 1.0, 248.0, 4500.8, 42.0, 1002.0),
 (15669.0, 11.0, 0.0, 796.0, 6918.6, 51.0, 1073.0),
 (11879.0, 17.0, 1.0, 174.0, 13120.0, 56.0, 1138.0),
 (11162.0, 13.0, 1.0, 408.0, 5634.6, 45.0, 2129.0),
 (26342.0, 13.0, 1.0, 845.8, 3131.0, 54.0, 1192.0),
 (9961.0, 13.0, 1.0, 977.0, 4133.4, 56.0, 1196.0),
 (21708.0, 14.0, 2.0, 536.0, 7260.2, 82.0, 2130.0),
 (22534.0, 13.0, 2.0, 135.0, 4444.0, 46.0, 2131.0),
 (16392.0, 11.0, 3.0, 1476.0, 6674.0, 55.0, 1315.0),
 (8935.0, 19.0, 1.0, 587.0, 9852.0, 57.0, 1324.0),
 (26582.0, 13.0, 0.0, 495.0, 17861.0, 69.2, 1334.0),
 (22455.0, 13.0, 0.0, 523.0, 5535.4, 98.0, 1346.0),
 (23553.0, 12.0, 0.0, 507.0, 5474.8, 66.0, 1356.0),
 (22456.0, 21.0, 1.0, 1055.0, 7870.6, 76.0, 1423.0),
 (8931.0, 11.0, 0.0, 1445.0, 7446.0, 100.0, 1459.0),
 (25178.0, 11.0, 1.0, 218.0, 13757.0, 55.0, 2132.0),
 (19764.0, 12.0, 0.0, 447.0, 16598.0, 39.0, 1472.0),
 (11929.0, 14.0, 2.0, 829.0, 4530.4, 71.0, 1485.0),
 (21195.0, 19.0, 0.0, 1029.0, 11429.0, 91.0, 2133.0),
 (3031.0, 17.0, 0.0, 674.0, 4285.0, 47.0, 1543.0),
 (18611.0, 14.0, 1.0, 965.6, 10124.0, 40.0, 1547.0),
 (20933.0, 12.0, 3.0, 538.0, 7405.6, 66.0, 1553.0),
 (5323.0, 11.0, 1.0, 740.0, 9714.0, 64.0, 1562.0),
 (12355.0, 11.0, 1.0, 1245.0, 9924.0, 80.0, 1582.0),
 (20689.0, 15.0, 1.0, 1234.0, 11245.0, 41.0, 1606.0),
 (10302.0, 15.0, 1.0, 170.0, 3069.0, 76.0, 2134.0),
 (19332.0, 12.0, 1.0, 1130.0, 6302.4, 66.0, 1658.0),
 (18685.0, 25.0, 1.0, 584.0, 10811.8, 91.0, 1665.0),
 (15869.0, 12.0, 0.0, 918.0, 9241.0, 35.0, 2135.0),
 (8989.0, 15.0, 1.0, 792.0, 6472.0, 77.0, 1737.0),
 (4349.0, 14.0, 0.0, 611.0, 3422.8, 88.0, 2136.0),
 (6194.0, 15.0, 2.0, 728.6, 3055.0, 90.0, 2137.0),
 (25949.0, 13.0, 1.0, 1383.0, 8321.0, 90.0, 1790.0),
 (6076.0, 19.0, 1.0, 867.0, 3143.0, 90.0, 2138.0),
 (22128.0, 21.0, 2.0, 789.8, 8284.4, 92.0, 1823.0),
 (7003.0, 13.0, 0.0, 574.0, 5171.8, 40.0, 2139.0),
 (19989.0, 14.0, 1.0, 706.0, 8578.0, 82.0, 1857.0),
 (7018.0, 21.0, 1.0, 728.0, 4568.0, 36.0, 1864.0),
 (18624.0, 11.0, 1.0, 311.0, 4197.0, 89.0, 1881.0),
 (23888.0, 13.0, 2.0, 556.0, 3240.0, 93.0, 1888.0),
 (6770.0, 21.0, 0.0, 937.0, 9888.0, 32.0, 1950.0),
 (5771.0, 21.0, 0.0, 1125.0, 5099.8, 48.0, 2140.0),
 (13586.0, 11.0, 0.0, 1224.0, 5161.2, 55.0, 1962.0),
 (25098.0, 12.0, 0.0, 119.0, 13341.0, 77.0, 1975.0),
 (4258.0, 14.0, 1.0, 444.0, 5677.0, 92.0, 1986.0),
 (4077.0, 13.0, 0.0, 911.0, 6939.6, 76.0, 2141.0),
 (17231.0, 18.0, 2.0, 785.8, 4398.6, 98.0, 2000.0),
 (19788.0, 15.0, 2.0, 585.0, 7107.0, 66.4, 2142.0),
 (24907.0, 23.0, 1.0, 815.0, 5335.4, 61.0, 2.0),
 (23159.0, 11.0, 0.0, 1392.0, 2909.0, 56.0, 5.0),
 (11864.0, 13.0, 0.0, 1005.0, 7280.8, 79.0, 2143.0),
 (8787.0, 21.0, 0.0, 455.6, 9526.0, 44.0, 2144.0),
 (16577.0, 13.0, 2.0, 1299.0, 2960.2, 94.0, 2145.0),
 (21173.0, 11.0, 1.0, 892.8, 6825.0, 48.0, 35.0),
 (9528.0, 22.0, 1.0, 655.0, 5863.8, 48.0, 76.0),
 (20682.0, 23.0, 0.0, 746.0, 4424.0, 61.0, 98.0),
 (8423.0, 22.0, 0.0, 632.0, 5441.0, 71.0, 120.0),
 (22887.0, 24.0, 0.0, 658.0, 6074.0, 66.0, 147.0),
 (22952.0, 14.0, 1.0, 1467.0, 9826.8, 92.0, 154.0),
 (22310.0, 25.0, 3.0, 1312.0, 3476.4, 96.0, 159.0),
 (15480.0, 13.0, 1.0, 750.0, 6146.0, 95.0, 160.0),
 (20739.0, 18.0, 0.0, 249.0, 6172.0, 76.0, 163.0),
 (21196.0, 13.0, 1.0, 802.0, 4581.4, 96.0, 176.0),
 (8916.0, 23.0, 1.0, 1355.0, 3951.0, 61.0, 177.0),
 (22812.0, 17.0, 3.0, 689.0, 4668.0, 35.0, 195.0),
 (8504.0, 11.0, 1.0, 1395.0, 5605.0, 54.0, 202.0),
 (16047.0, 20.0, 1.0, 1436.0, 6115.2, 34.0, 205.0),
 (26283.0, 13.0, 1.0, 1496.0, 4319.0, 41.0, 2146.0),
 (15062.0, 12.0, 0.0, 1480.0, 4386.0, 30.0, 2147.0),
 (4673.0, 13.0, 1.0, 529.2, 8005.0, 48.4, 252.0),
 (7192.0, 18.0, 0.0, 313.0, 6767.4, 98.0, 258.0),
 (11781.0, 16.0, 0.0, 894.0, 8022.6, 99.0, 260.0),
 (22977.0, 12.0, 1.0, 290.0, 3564.0, 65.0, 267.0),
 (4185.0, 18.0, 1.0, 1084.0, 6261.0, 54.0, 2148.0),
 (23793.0, 15.0, 2.0, 1002.0, 6804.0, 92.0, 275.0),
 (12916.0, 14.0, 0.0, 1242.0, 9334.0, 90.0, 293.0),
 (16840.0, 12.0, 0.0, 1052.0, 4797.4, 57.0, 302.0),
 (9096.0, 14.0, 0.0, 944.0, 5574.8, 92.0, 314.0),
 (21509.0, 20.0, 0.0, 465.0, 6471.2, 39.0, 2149.0),
 (21030.0, 18.0, 0.0, 771.0, 7449.4, 79.0, 329.0),
 (5949.0, 19.0, 1.0, 1416.0, 19436.0, 49.0, 2150.0),
 (19682.0, 18.0, 1.0, 1327.0, 6471.2, 39.0, 361.0),
 (14977.0, 12.0, 1.0, 488.0, 9178.8, 75.0, 363.0),
 (7501.0, 14.0, 0.0, 1385.0, 7785.4, 79.0, 2151.0),
 (10557.0, 16.0, 0.0, 1018.0, 5055.0, 74.0, 2152.0),
 (11866.0, 14.0, 2.0, 144.0, 5835.2, 39.0, 2153.0),
 (17001.0, 13.0, 2.0, 1319.0, 5974.0, 51.0, 2154.0),
 (26914.0, 12.0, 1.0, 1107.0, 3034.0, 95.0, 2155.0),
 (18256.0, 11.0, 3.0, 906.0, 13212.0, 86.0, 2156.0),
 (26314.0, 14.0, 1.0, 1485.0, 10925.4, 87.0, 2157.0),
 (7181.0, 14.0, 0.0, 1116.0, 6958.0, 49.0, 2158.0),
 (16177.0, 19.0, 1.0, 561.0, 4805.0, 61.0, 2159.0),
 (9606.0, 15.0, 1.0, 482.0, 9434.0, 36.0, 2160.0),
 (6729.0, 15.0, 1.0, 397.0, 10925.4, 88.0, 2161.0),
 (7791.0, 20.0, 0.0, 243.0, 5355.6, 46.0, 2162.0),
 (19373.0, 15.0, 0.0, 1018.0, 11159.0, 39.0, 2163.0),
 (3872.0, 13.0, 0.0, 654.0, 2216.0, 67.0, 2164.0),
 (9931.0, 24.0, 1.0, 791.0, 4244.0, 38.0, 2165.0),
 (23779.0, 24.0, 1.0, 672.6, 2700.0, 81.0, 2166.0),
 (3698.0, 20.0, 0.0, 760.0, 6174.4, 81.0, 2167.0),
 (20898.0, 14.0, 1.0, 770.4, 2366.0, 88.0, 2168.0),
 (17369.0, 11.0, 2.0, 616.0, 5665.2, 41.0, 2169.0),
 (2560.0, 18.0, 0.0, 903.0, 5771.6, 41.0, 2170.0),
 (24208.0, 13.0, 1.0, 566.0, 10845.0, 69.6, 2171.0),
 (13943.0, 11.0, 1.0, 1441.0, 6838.8, 56.0, 1013.0),
 (17802.0, 12.0, 3.0, 153.0, 7757.0, 73.0, 1015.0),
 (3334.0, 12.0, 0.0, 1066.0, 5472.0, 32.0, 1018.0),
 (12992.0, 14.0, 2.0, 135.0, 6385.0, 62.0, 1034.0),
 (24920.0, 12.0, 1.0, 145.0, 6347.0, 95.0, 2172.0),
 (11135.0, 12.0, 0.0, 1109.0, 2689.6, 69.0, 1046.0),
 (23537.0, 12.0, 1.0, 124.0, 7525.0, 38.0, 1050.0),
 (22217.0, 14.0, 1.0, 300.0, 3206.0, 74.0, 2173.0),
 (17323.0, 15.0, 0.0, 444.0, 9623.4, 40.0, 1074.0),
 (12355.0, 12.0, 0.0, 1366.0, 3262.6, 72.0, 1082.0),
 (7909.0, 13.0, 0.0, 857.0, 3660.0, 59.0, 1097.0),
 (10333.0, 22.0, 0.0, 1204.0, 3440.0, 86.0, 1100.0),
 (3129.0, 22.0, 0.0, 827.0, 3647.6, 54.0, 1101.0),
 (4605.0, 15.0, 1.0, 1219.0, 4386.0, 32.0, 1106.0),
 (5569.0, 14.0, 2.0, 770.0, 8740.0, 68.0, 1119.0),
 (8039.0, 17.0, 3.0, 950.0, 6967.4, 93.0, 2174.0),
 (11535.0, 11.0, 1.0, 1082.0, 6966.4, 83.0, 1126.0),
 (13547.0, 11.0, 3.0, 203.0, 6294.0, 84.0, 2175.0),
 (17544.0, 14.0, 0.0, 1308.0, 5053.4, 44.0, 1128.0),
 (17689.0, 15.0, 1.0, 718.0, 5927.6, 79.0, 2176.0),
 (13782.0, 17.0, 0.0, 593.0, 13499.0, 88.0, 2177.0),
 (13421.0, 22.0, 1.0, 1384.0, 6174.4, 82.0, 1177.0),
 (19588.0, 18.0, 1.0, 819.0, 7623.4, 44.0, 1182.0),
 (18640.0, 18.0, 1.0, 1223.0, 6282.6, 50.0, 1201.0),
 (21026.0, 15.0, 3.0, 1361.0, 10477.4, 94.0, 1218.0),
 (4905.0, 12.0, 1.0, 1146.0, 7496.0, 70.6, 1220.0),
 (6865.0, 14.0, 1.0, 776.8, 5144.6, 60.0, 2178.0),
 (11309.0, 13.0, 3.0, 853.0, 3491.0, 49.0, 1224.0),
 (10893.0, 18.0, 1.0, 744.6, 5220.0, 52.0, 2179.0),
 (2338.0, 14.0, 0.0, 1316.0, 6471.2, 38.0, 1235.0),
 (4235.0, 21.0, 1.0, 363.0, 10252.0, 65.8, 1237.0),
 (14377.0, 14.0, 2.0, 1103.0, 3443.4, 42.0, 2180.0),
 (18625.0, 14.0, 1.0, 920.0, 19740.0, 96.0, 1255.0),
 (3423.0, 14.0, 2.0, 694.0, 3432.8, 56.8, 1264.0),
 (20002.0, 12.0, 0.0, 1429.0, 7842.4, 67.0, 1283.0),
 (20364.0, 14.0, 0.0, 531.0, 8063.2, 56.0, 1293.0),
 (14075.0, 11.0, 1.0, 621.0, 6524.8, 73.0, 1295.0),
 (17285.0, 13.0, 2.0, 806.0, 5835.2, 39.0, 2181.0),
 (11693.0, 15.0, 2.0, 604.0, 6209.0, 56.0, 2182.0),
 (5747.0, 12.0, 0.0, 325.0, 7094.0, 63.0, 2183.0),
 (21534.0, 19.0, 0.0, 1030.0, 9177.8, 64.0, 2184.0),
 (13352.0, 11.0, 0.0, 524.0, 4534.0, 32.0, 1322.0),
 (5494.0, 11.0, 1.0, 943.0, 8500.0, 86.0, 1344.0),
 (19461.0, 15.0, 1.0, 1009.0, 5785.4, 31.0, 1355.0),
 (2261.0, 16.0, 1.0, 607.0, 4639.0, 83.0, 1362.0),
 (10846.0, 12.0, 1.0, 817.0, 5363.0, 60.0, 1369.0),
 (9277.0, 17.0, 0.0, 841.4, 4177.4, 85.0, 2185.0),
 (17491.0, 13.0, 2.0, 788.8, 6673.4, 86.0, 1377.0),
 (20003.0, 14.0, 0.0, 930.0, 4081.0, 73.0, 1402.0),
 (16616.0, 14.0, 1.0, 1147.0, 5578.4, 31.0, 1408.0),
 (23577.0, 12.0, 0.0, 652.0, 3578.0, 100.0, 1417.0),
 (22930.0, 12.0, 0.0, 337.0, 9317.4, 84.0, 1421.0),
 (5652.0, 19.0, 0.0, 971.0, 17328.0, 54.0, 1422.0),
 (12414.0, 13.0, 2.0, 1136.0, 7449.4, 81.0, 1424.0),
 (23099.0, 11.0, 2.0, 663.0, 5927.6, 81.0, 2186.0),
 (8386.0, 18.0, 1.0, 326.0, 10793.0, 31.0, 2187.0),
 (15986.0, 11.0, 1.0, 377.0, 4058.2, 52.0, 1457.0),
 (19863.0, 18.0, 1.0, 1038.0, 10851.0, 95.0, 1460.0),
 (20948.0, 14.0, 2.0, 1490.0, 10466.0, 35.0, 1484.0),
 (23757.0, 14.0, 2.0, 1246.0, 6222.8, 77.0, 1497.0),
 (7568.0, 13.0, 0.0, 224.0, 2362.0, 100.0, 1522.0),
 (7288.0, 13.0, 1.0, 441.0, 5835.2, 39.0, 1544.0),
 (17381.0, 21.0, 0.0, 898.0, 7369.0, 38.0, 2188.0),
 (13693.0, 14.0, 1.0, 971.0, 6439.0, 96.0, 2189.0),
 (14618.0, 16.0, 1.0, 607.0, 5683.8, 78.0, 1572.0),
 (3549.0, 14.0, 1.0, 1313.0, 7456.2, 31.0, 1608.0),
 (23447.0, 14.0, 0.0, 1015.0, 5769.0, 50.0, 1611.0),
 (24162.0, 15.0, 1.0, 638.8, 4385.0, 52.0, 1612.0),
 (17000.0, 13.0, 1.0, 426.0, 5808.4, 42.0, 1615.0),
 (3835.0, 13.0, 3.0, 1387.0, 7072.6, 76.0, 2190.0),
 (16290.0, 11.0, 2.0, 1302.0, 4066.0, 54.6, 1619.0),

In [57]:
cnx = mysql.connector.connect (user = "root", 
                               password = "AlumnaAdalab", 
                               host='127.0.0.1',
                               database="talent_transformation")

mycursor = cnx.cursor()

query_insert = "INSERT INTO 3_economic_data (Monthlyrate, Percentsalaryhike, Stockoptionlevel, Dailyrate, Monthlyincome, Hourlyrate, 1_personal_data_Employeenumber) VALUES (%s, %s, %s, %s, %s, %s, %s)"

#variables en el mismo orden que scsv, tantas %s como variables tiene mi csv. 


try: 
    mycursor.executemany(query_insert, lista_tuplas_tabla)
    #ejecuta my query, de que datos? del fichero q estan en mi lista de tuplas q he converido ariba leyendo el csv.) 
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")

except mysql.connector.Error as error:
    print("Error al insertar datos en MySQL:", error)

Error al insertar datos en MySQL: Failed processing format-parameters; Python 'float64' cannot be converted to a MySQL type

In [42]:
df_tabla3.head()

,Monthlyrate,Percentsalaryhike,Stockoptionlevel,Dailyrate,Monthlyincome,Hourlyrate,Employeenumber
0,6462,13,0,684.0,19537.0,51.0,162
1,5678,14,1,699.0,19999.0,65.0,259
2,4933,11,0,532.0,19232.0,58.0,319
3,26703,19,2,359.0,17169.0,82.0,2069
4,7739,12,1,1319.0,4884.6,45.0,2070

In [27]:
df_tabla3.dtypes

Monthlyrate            int64
Percentsalaryhike      int64
Stockoptionlevel       int64
Dailyrate            float64
Monthlyincome        float64
Hourlyrate           float64
Employeenumber         int64
dtype: object

# TABLA 4 Satisfaction

In [ ]:
df_tabla4 = df_rawdata[["Environmentsatisfaction","Jobsatisfaction", "Relationshipsatisfaction", "Performancerating", "Worklifebalance", "Jobinvolvement", "Employeenumber"]]
df_tabla4.head(3)

,Environmentsatisfaction,Jobsatisfaction,Relationshipsatisfaction,Performancerating,Worklifebalance,Jobinvolvement,Employeenumber
0,Not Satisfied,Satisfied,Satisfied,3.0,3.0,High,162
1,Satisfied,Satisfied,Not Satisfied,3.0,3.0,Moderate,259
2,Satisfied,Very Satisfied,Very Satisfied,3.0,3.0,High,319

In [ ]:
lista_tuplas_tabla = []
for x in df_tabla4.values:

    lista_tuplas_tabla.append(tuple(x))
    lista_tuplas_tabla

In [ ]:
cnx = mysql.connector.connect (user = "root", 
                               password = "AlumnaAdalab", 
                               host='127.0.0.1',
                               database="talent_transformation")

mycursor = cnx.cursor()

query_insert = "INSERT INTO 4_satisfaction (Environmentsatisfaction, Jobsatisfaction, Relationshipsatisfaction, Performancerating, Worklifebalance, Jobinvolvement, 1_personal_data_Employeenumber) VALUES (%s, %s,%s, %s, %s, %s, %s)"
#variables en el mismo orden que scsv, tantas %s como variables tiene mi csv. 


try: 
    mycursor.executemany(query_insert, lista_tuplas_tabla)
    #ejecuta my query, de que datos? del fichero q estan en mi lista de tuplas q he converido ariba leyendo el csv.) 
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")

except mysql.connector.Error as error:
    print("Error al insertar datos en MySQL:", error)

1510 registros insertados

In [ ]:
df_tabla4.dtypes

Environmentsatisfaction      object
Jobsatisfaction              object
Relationshipsatisfaction     object
Performancerating           float64
Worklifebalance             float64
Jobinvolvement               object
Employeenumber                int64
dtype: object